.film-filter {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;

    select {
        background: #D7DAE1;
        width: 200px;
        height: 30px;
    }


}

.wrapperFilm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}